.start-page-section
{
    padding: 3rem 0;
    background: var(--primary-color);
    @media only screen and (max-width: 768px)
    {
        
    }
    .title-heading
    {
        h2
        {
            font-weight: 700;
            color: var(--white);
            font-size: 25px;
        }
        .heading-line
        {
            height: 2px;
            width: 30px;
            background: var(--primary-color);
            margin-bottom: .5rem;
            display: inline-block;
        }
        p
        {
            font-size: 14px;
            color: var(--white);
        }
    }
}
.start-page
{
    padding: 5rem 0;
    @media only screen and (max-width: 768px)
    {
        
    }
    .title-heading
    {
        h2
        {
            color: var(--secondary-color);
            font-weight: 700;
            font-size: 25px;
        }
        .heading-line
        {
            height: 2px;
            width: 30px;
            background: var(--secondary-color);
            margin-bottom: .5rem;
            display: inline-block;
        }
        p
        {
            font-size: 14px;
        }
    }
    .start-form
    {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 0.5rem;
        padding: 2rem;
        background: rgba(204, 204, 204, 0.2901960784);
        text-align: left;
    }
}

.wizard-payment
{
    padding-bottom: 3rem;
}


.banner-btn2
{
    color: var(--black) !important;
    background: rgba(204, 204, 204, 0.2901960784);
    border-radius: 50px;
    border: none;
    padding: 5px 35px !important;
    margin: 0 5px;
    line-height: 30px;
    // &:hover
    // {
    //     background: var(--secondary-color);
    //     color: var(--white) !important;
    // }
    .disabled
    {
        background: none;
        color: none;
    }
}
                                                    

